<div class="text-center">
	<h3>Hi Regulator</h3>
  <p>Here you can create TollBoothOperator (Only 1 is possible to test)</p>
	<p>{{ message }}</p>   
  <p>The owner of this Regulator is : <b>{{$root.regulatorOwner}}</b> . Please use this account to set Vehicle Type</p>
  <p>  </p>

  <form id="tollBoothOperatorForm" ng-submit="newTollBoothOperator()">
    <input ng-class="{'disabled': regulatorAlreadyCreated}" ng-disabled="regulatorAlreadyCreated" type="text" name="addressOperatorOwner"     ng-model="new.addressOperatorOwner"     placeholder="address of futur Operator Owner" size="40" required />
    <input ng-class="{'disabled': regulatorAlreadyCreated}"  ng-disabled="regulatorAlreadyCreated" type="text" name="minDeposit" ng-model="new.minDeposit" placeholder="minDeposit in wei" required />
    <input  ng-disabled="regulatorAlreadyCreated" type="submit" class="btn btn-primary" value="New TollBoothOperator"></h3>
  </form>
  

     <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>TollBoothOperator Creator</th>
                  <th>TollBoothOperator Contract Address</th>  
                  <th>TollBoothOperator Owner</th> 
                  <th>Min deposit </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr >              
                  <td>{{tollBoothOperator.creator }}</td>
                  <td>{{tollBoothOperator.contractAddress }}</td>
                  <td>{{tollBoothOperator.owner }}</td>         
                  <td>{{tollBoothOperator.minDeposit }}</td>             
                  <td>
                    <form>
                      <input                    
                        type="submit" class="btn btn-success addnew pull-right" value="Delete"
                        ng-click="">
                    </form>
                  </td>
                </tr>
              </tbody>

       </table>

       <div class="col-md-12">
        <h5>
          <p> Set a Vehicle Type </p>
           <form id="setVehicleTypeForm" ng-submit="setVehicleType()">
              <input  type="text" name="vehicleAddress"    ng-model="new.vehicleAddress"     placeholder="Address of the vehicle" size="40" required />
              <select name="vehicleType" ng-model=" vehicleTypeSelected" required>
                <option ng-repeat="vehicleType in vehicleTypes" value="{{ vehicleType }}">
                  {{vehicleType}}
                </option>
              </select>
              <input type="submit" class="btn btn-primary btn-xs" value="Set Vehicle Type"></h3>
           </form>
        </h5>


          <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>LogVehicleTypeSet msg.sender </th>
                  <th>Vehicle Address</th>  
                  <th>Type</th> 
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="vehicleSet in vehicleTypeSetLogs">              
                  <td>{{vehicleSet.sender }}</td>
                  <td>{{vehicleSet.vehicle }}</td>
                  <td>{{vehicleSet.vehicleType }}</td>                  
                </tr>
              </tbody>

       </table>

       </div>




</div>

